<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HumanWarrior-criticalEffect/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-126.5,126.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{2005,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior-criticalEffect/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-126.5,126.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{2005,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior-criticalEffect/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-126.5,126.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{2005,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior-criticalEffect/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-126.5,126.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{2005,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior-criticalEffect/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{204,176}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1255},{204,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{204,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1461},{204,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{204,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1667},{204,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{204,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1873},{204,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior-criticalEffect/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{202,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{177,1461},{202,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{202,170}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{179,1255},{202,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{198,168}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{177,1665},{198,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{196,164}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{347,1665},{196,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{194,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{315,653},{194,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{188,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{315,849},{188,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{182,150}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{207,1865},{182,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{174,142}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{359,1863},{174,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{170,136}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{503,1863},{170,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{166,132}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{315,1039},{166,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{164,130}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{351,1207},{164,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{162,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{449,1039},{162,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{160,124}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{473,849},{160,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{158,120}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{477,653},{158,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{156,116}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{351,1373},{156,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{148,102}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{469,1373},{148,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{132,96}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{351,1531},{132,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{124,90}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{449,1531},{124,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{120,86}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{483,1203},{120,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{118,86}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{571,1203},{118,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{116,84}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{579,1011},{116,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{114,84}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{513,1657},{114,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior-criticalEffect/10031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{112,82}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{513,1773},{112,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blink/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-498.5,323.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1000,650}</string>
                <key>textureRect</key>
                <string>{{2005,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blink/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-498.5,323.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1000,650}</string>
                <key>textureRect</key>
                <string>{{2005,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blink/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-498.5,323.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1000,650}</string>
                <key>textureRect</key>
                <string>{{2005,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blink/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-498.5,323.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{1000,650}</string>
                <key>textureRect</key>
                <string>{{2005,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blink/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,650}</string>
                <key>spriteSourceSize</key>
                <string>{1000,650}</string>
                <key>textureRect</key>
                <string>{{1,1},{1000,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blink/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1000,650}</string>
                <key>spriteSourceSize</key>
                <string>{1000,650}</string>
                <key>textureRect</key>
                <string>{{1003,1},{1000,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blink/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{600,312}</string>
                <key>spriteSourceSize</key>
                <string>{1000,650}</string>
                <key>textureRect</key>
                <string>{{1,653},{600,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CharacterSkills-4.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c266101f32c40c0b142b9fc8c5bb1d4:a0b8868777423720917967c81c3f94e7:15e33cdb082ec28e2812edd87f14ebe2$</string>
            <key>textureFileName</key>
            <string>CharacterSkills-4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
