<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HumanWarrior/win/body/0/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,31}</string>
                <key>spriteSize</key>
                <string>{160,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{367,765},{160,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/0/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,34}</string>
                <key>spriteSize</key>
                <string>{164,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{757,509},{164,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/0/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,60}</string>
                <key>spriteSize</key>
                <string>{94,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{489,959},{94,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/0/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,52}</string>
                <key>spriteSize</key>
                <string>{94,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{683,811},{94,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/0/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,9}</string>
                <key>spriteSize</key>
                <string>{152,132}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,141},{152,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/0/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,4}</string>
                <key>spriteSize</key>
                <string>{140,142}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{295,1},{140,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/0/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,4}</string>
                <key>spriteSize</key>
                <string>{142,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{151,1},{142,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/0/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,12}</string>
                <key>spriteSize</key>
                <string>{148,114}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{367,649},{148,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/0/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,16}</string>
                <key>spriteSize</key>
                <string>{154,108}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{525,543},{154,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/0/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,20}</string>
                <key>spriteSize</key>
                <string>{156,108}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{179,919},{156,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/0/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-62,22}</string>
                <key>spriteSize</key>
                <string>{162,100}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{163,411},{162,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/0/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-49,31}</string>
                <key>spriteSize</key>
                <string>{160,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{195,1077},{160,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/1/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,12}</string>
                <key>spriteSize</key>
                <string>{138,128}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{153,649},{138,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/1/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,29}</string>
                <key>spriteSize</key>
                <string>{170,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{413,261},{170,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/1/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,68}</string>
                <key>spriteSize</key>
                <string>{96,162}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{265,411},{96,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/1/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,64}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{529,749},{100,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/1/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-11}</string>
                <key>spriteSize</key>
                <string>{80,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{757,427},{80,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/1/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-13}</string>
                <key>spriteSize</key>
                <string>{68,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{125,1151},{68,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/1/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-13}</string>
                <key>spriteSize</key>
                <string>{72,174}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{439,99},{72,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/1/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-10}</string>
                <key>spriteSize</key>
                <string>{94,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{585,959},{94,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/1/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,-3}</string>
                <key>spriteSize</key>
                <string>{104,134}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{799,683},{104,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/1/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,2}</string>
                <key>spriteSize</key>
                <string>{114,126}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{683,683},{114,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/1/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,5}</string>
                <key>spriteSize</key>
                <string>{122,132}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{365,959},{122,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/1/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,12}</string>
                <key>spriteSize</key>
                <string>{138,128}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{163,779},{138,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/2/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-7}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{673,1113},{80,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/2/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,27}</string>
                <key>spriteSize</key>
                <string>{134,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{779,819},{134,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/2/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,74}</string>
                <key>spriteSize</key>
                <string>{88,180}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{615,1},{88,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/2/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,72}</string>
                <key>spriteSize</key>
                <string>{96,174}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{439,1},{96,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/2/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-20}</string>
                <key>spriteSize</key>
                <string>{74,170}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{413,351},{74,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/2/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{80,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{755,1115},{80,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/2/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{72,172}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{89,443},{72,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/2/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{72,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{293,649},{72,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/2/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-9}</string>
                <key>spriteSize</key>
                <string>{68,154}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{923,593},{68,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/2/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{74,148}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{289,951},{74,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/2/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-9}</string>
                <key>spriteSize</key>
                <string>{74,158}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{681,439},{74,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/2/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-7}</string>
                <key>spriteSize</key>
                <string>{80,160}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{755,601},{80,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/3/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{64,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{927,425},{64,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/3/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,12}</string>
                <key>spriteSize</key>
                <string>{92,118}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{873,867},{92,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/3/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,77}</string>
                <key>spriteSize</key>
                <string>{86,184}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,443},{86,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/3/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,77}</string>
                <key>spriteSize</key>
                <string>{84,184}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,629},{84,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/3/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-12}</string>
                <key>spriteSize</key>
                <string>{130,140}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{135,143},{130,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/3/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-2}</string>
                <key>spriteSize</key>
                <string>{146,126}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,295},{146,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/3/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-4}</string>
                <key>spriteSize</key>
                <string>{148,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/3/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,0}</string>
                <key>spriteSize</key>
                <string>{124,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{267,143},{124,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/3/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,3}</string>
                <key>spriteSize</key>
                <string>{114,136}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{129,295},{114,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/3/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,3}</string>
                <key>spriteSize</key>
                <string>{106,138}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{529,851},{106,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/3/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{383,1093},{100,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/3/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-14}</string>
                <key>spriteSize</key>
                <string>{64,166}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{87,629},{64,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/4/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-4}</string>
                <key>spriteSize</key>
                <string>{122,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1179},{122,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/4/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{86,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{905,749},{86,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/4/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,78}</string>
                <key>spriteSize</key>
                <string>{84,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,999},{84,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/4/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,80}</string>
                <key>spriteSize</key>
                <string>{82,182}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,815},{82,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/4/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,7}</string>
                <key>spriteSize</key>
                <string>{176,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{615,91},{176,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/4/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,18}</string>
                <key>spriteSize</key>
                <string>{166,74}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{757,351},{166,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/4/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,20}</string>
                <key>spriteSize</key>
                <string>{178,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{797,1},{178,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/4/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,25}</string>
                <key>spriteSize</key>
                <string>{168,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{793,91},{168,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/4/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,27}</string>
                <key>spriteSize</key>
                <string>{164,94}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{517,653},{164,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/4/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,25}</string>
                <key>spriteSize</key>
                <string>{158,98}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{365,859},{158,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/4/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,14}</string>
                <key>spriteSize</key>
                <string>{152,116}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{363,427},{152,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/4/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-4}</string>
                <key>spriteSize</key>
                <string>{122,144}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{267,269},{122,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/5/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,16}</string>
                <key>spriteSize</key>
                <string>{160,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{517,439},{160,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/5/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,27}</string>
                <key>spriteSize</key>
                <string>{142,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{849,961},{142,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/5/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,74}</string>
                <key>spriteSize</key>
                <string>{76,168}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{85,815},{76,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/5/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,76}</string>
                <key>spriteSize</key>
                <string>{74,178}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{589,185},{74,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/5/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,16}</string>
                <key>spriteSize</key>
                <string>{176,68}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{769,191},{176,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/5/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,18}</string>
                <key>spriteSize</key>
                <string>{162,66}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{925,261},{162,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/5/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,26}</string>
                <key>spriteSize</key>
                <string>{166,72}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{163,575},{166,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/5/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,33}</string>
                <key>spriteSize</key>
                <string>{164,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{195,1239},{164,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/5/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,33}</string>
                <key>spriteSize</key>
                <string>{168,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{585,261},{168,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/5/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,32}</string>
                <key>spriteSize</key>
                <string>{168,88}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{755,261},{168,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/5/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{56,31}</string>
                <key>spriteSize</key>
                <string>{170,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{585,351},{170,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/5/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,16}</string>
                <key>spriteSize</key>
                <string>{160,102}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{363,545},{160,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/6/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,26}</string>
                <key>spriteSize</key>
                <string>{158,82}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{681,951},{158,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/6/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{45,28}</string>
                <key>spriteSize</key>
                <string>{174,86}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{413,173},{174,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/6/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,63}</string>
                <key>spriteSize</key>
                <string>{94,156}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{485,1103},{94,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/6/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,67}</string>
                <key>spriteSize</key>
                <string>{90,164}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{87,985},{90,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/6/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,20}</string>
                <key>spriteSize</key>
                <string>{134,70}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{293,815},{134,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/6/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,24}</string>
                <key>spriteSize</key>
                <string>{122,78}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{361,1247},{122,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/6/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,25}</string>
                <key>spriteSize</key>
                <string>{120,80}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{837,1239},{120,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/6/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,31}</string>
                <key>spriteSize</key>
                <string>{126,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{837,1145},{126,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/6/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,31}</string>
                <key>spriteSize</key>
                <string>{132,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{849,1051},{132,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HumanWarrior/win/body/6/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,31}</string>
                <key>spriteSize</key>
                <string>{136,92}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{289,1101},{136,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/6/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,30}</string>
                <key>spriteSize</key>
                <string>{148,90}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{581,1113},{148,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>HumanWarrior/win/body/6/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,26}</string>
                <key>spriteSize</key>
                <string>{158,82}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{765,955},{158,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>HumanWarrior-win.pvr.ccz</string>
            <key>size</key>
            <string>{992,1326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e52ec934aa8dd6fdcf181dcb5bedcfab:fac5a4a4b3028e96aa7c6d82e3ea0734:33cc2d188bca3edb467326a5acd1ca08$</string>
            <key>textureFileName</key>
            <string>HumanWarrior-win.pvr.ccz</string>
        </dict>
    </dict>
</plist>
