<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MoHead/attack/body/6/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,56}</string>
                <key>spriteSize</key>
                <string>{132,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{647,743},{132,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/6/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,84}</string>
                <key>spriteSize</key>
                <string>{128,222}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{345,801},{128,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/6/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,107}</string>
                <key>spriteSize</key>
                <string>{124,268}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{139,271},{124,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/6/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,115}</string>
                <key>spriteSize</key>
                <string>{104,284}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1755},{104,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/6/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,116}</string>
                <key>spriteSize</key>
                <string>{140,286}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1467},{140,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/6/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,51}</string>
                <key>spriteSize</key>
                <string>{174,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{455,1467},{174,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/6/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,0}</string>
                <key>spriteSize</key>
                <string>{118,228}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{261,1039},{118,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/6/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,2}</string>
                <key>spriteSize</key>
                <string>{112,238}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{147,1047},{112,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/6/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-6}</string>
                <key>spriteSize</key>
                <string>{98,244}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{147,801},{98,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/6/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-10}</string>
                <key>spriteSize</key>
                <string>{96,236}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{247,801},{96,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/6/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-4}</string>
                <key>spriteSize</key>
                <string>{138,200}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{503,467},{138,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/6/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,21}</string>
                <key>spriteSize</key>
                <string>{166,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{517,947},{166,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/6/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,51}</string>
                <key>spriteSize</key>
                <string>{168,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{751,1573},{168,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/6/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,56}</string>
                <key>spriteSize</key>
                <string>{132,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{681,911},{132,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/6/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,45}</string>
                <key>spriteSize</key>
                <string>{138,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{479,1229},{138,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/6/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,40}</string>
                <key>spriteSize</key>
                <string>{142,164}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{949,903},{142,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/6/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,33}</string>
                <key>spriteSize</key>
                <string>{140,174}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{609,1643},{140,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/6/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,37}</string>
                <key>spriteSize</key>
                <string>{136,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{753,1397},{136,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/6/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,49}</string>
                <key>spriteSize</key>
                <string>{134,158}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1073,539},{134,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/6/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,52}</string>
                <key>spriteSize</key>
                <string>{134,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1091,185},{134,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/6/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,46}</string>
                <key>spriteSize</key>
                <string>{134,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1115,1},{134,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/6/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,37}</string>
                <key>spriteSize</key>
                <string>{136,158}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1009,1069},{136,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/6/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,37}</string>
                <key>spriteSize</key>
                <string>{142,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{619,1229},{142,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/6/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,45}</string>
                <key>spriteSize</key>
                <string>{138,172}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{727,1819},{138,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/6/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,45}</string>
                <key>spriteSize</key>
                <string>{138,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{613,1401},{138,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/6/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,56}</string>
                <key>spriteSize</key>
                <string>{132,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{781,743},{132,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/6/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,63}</string>
                <key>spriteSize</key>
                <string>{142,184}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{947,189},{142,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/6/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,65}</string>
                <key>spriteSize</key>
                <string>{168,188}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{633,1},{168,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/6/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,58}</string>
                <key>spriteSize</key>
                <string>{186,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{779,191},{186,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/6/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,91}</string>
                <key>spriteSize</key>
                <string>{134,202}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{381,1025},{134,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/6/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,96}</string>
                <key>spriteSize</key>
                <string>{278,184}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{107,1755},{278,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/6/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,78}</string>
                <key>spriteSize</key>
                <string>{120,176}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{445,1851},{120,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/6/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,131}</string>
                <key>spriteSize</key>
                <string>{216,258}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{139,541},{216,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/6/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,116}</string>
                <key>spriteSize</key>
                <string>{192,252}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{293,1},{192,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/6/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,127}</string>
                <key>spriteSize</key>
                <string>{208,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{265,271},{208,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/6/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,95}</string>
                <key>spriteSize</key>
                <string>{144,214}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{357,529},{144,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/6/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,4}</string>
                <key>spriteSize</key>
                <string>{152,188}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{643,405},{152,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/6/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{150,194}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{627,209},{150,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/6/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,20}</string>
                <key>spriteSize</key>
                <string>{150,210}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{475,255},{150,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/6/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,15}</string>
                <key>spriteSize</key>
                <string>{156,204}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{297,1467},{156,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/6/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,23}</string>
                <key>spriteSize</key>
                <string>{196,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{307,1269},{196,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/6/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,42}</string>
                <key>spriteSize</key>
                <string>{186,150}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{797,379},{186,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/6/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,55}</string>
                <key>spriteSize</key>
                <string>{182,154}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{959,1},{182,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/6/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,56}</string>
                <key>spriteSize</key>
                <string>{132,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{805,567},{132,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/6/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,56}</string>
                <key>spriteSize</key>
                <string>{132,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{815,911},{132,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/6/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,56}</string>
                <key>spriteSize</key>
                <string>{134,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{763,1217},{134,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/6/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,56}</string>
                <key>spriteSize</key>
                <string>{134,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{891,1385},{134,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/6/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,55}</string>
                <key>spriteSize</key>
                <string>{136,164}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{843,1079},{136,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/stand/body/6/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,54}</string>
                <key>spriteSize</key>
                <string>{134,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{949,375},{134,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/6/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,55}</string>
                <key>spriteSize</key>
                <string>{132,164}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1049,735},{132,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/6/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,56}</string>
                <key>spriteSize</key>
                <string>{132,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{899,1217},{132,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/6/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,56}</string>
                <key>spriteSize</key>
                <string>{132,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{915,735},{132,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/6/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,52}</string>
                <key>spriteSize</key>
                <string>{112,158}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{517,1115},{112,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/6/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,55}</string>
                <key>spriteSize</key>
                <string>{100,164}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{677,1115},{100,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/6/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,55}</string>
                <key>spriteSize</key>
                <string>{98,164}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1093,901},{98,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/6/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,49}</string>
                <key>spriteSize</key>
                <string>{156,152}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1085,375},{156,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/6/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,62}</string>
                <key>spriteSize</key>
                <string>{158,178}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{147,1287},{158,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/6/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,66}</string>
                <key>spriteSize</key>
                <string>{154,186}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{803,1},{154,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/6/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,110}</string>
                <key>spriteSize</key>
                <string>{152,274}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{143,1467},{152,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/6/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,108}</string>
                <key>spriteSize</key>
                <string>{150,270}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{293,1743},{150,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/6/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,107}</string>
                <key>spriteSize</key>
                <string>{152,268}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{139,1},{152,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/6/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,116}</string>
                <key>spriteSize</key>
                <string>{144,286}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1179},{144,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/6/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,121}</string>
                <key>spriteSize</key>
                <string>{136,296}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/6/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,120}</string>
                <key>spriteSize</key>
                <string>{136,294}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,299},{136,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/6/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,119}</string>
                <key>spriteSize</key>
                <string>{136,292}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,595},{136,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/6/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,117}</string>
                <key>spriteSize</key>
                <string>{144,288}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,889},{144,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/6/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,76}</string>
                <key>spriteSize</key>
                <string>{144,206}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{487,1},{144,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/6/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,61}</string>
                <key>spriteSize</key>
                <string>{162,176}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{445,1673},{162,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/6/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,58}</string>
                <key>spriteSize</key>
                <string>{200,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{475,745},{200,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/6/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,52}</string>
                <key>spriteSize</key>
                <string>{174,158}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{567,1851},{174,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/6/10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,53}</string>
                <key>spriteSize</key>
                <string>{146,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{643,595},{146,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/6/10021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,56}</string>
                <key>spriteSize</key>
                <string>{132,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{939,567},{132,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MoHead-6.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebc533477d27467d1cd96893ad2f8406:8b92f0c279c9cf92a7394fc919901407:3abfcd649e511c3243cff858efa789f9$</string>
            <key>textureFileName</key>
            <string>MoHead-6.pvr.ccz</string>
        </dict>
    </dict>
</plist>
