<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MoHead/attack/body/5/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,55}</string>
                <key>spriteSize</key>
                <string>{130,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{843,1605},{130,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/5/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,86}</string>
                <key>spriteSize</key>
                <string>{146,232}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{163,1155},{146,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/5/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,108}</string>
                <key>spriteSize</key>
                <string>{142,276}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{291,289},{142,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/5/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,113}</string>
                <key>spriteSize</key>
                <string>{132,286}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{267,1},{132,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/5/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,115}</string>
                <key>spriteSize</key>
                <string>{122,290}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{143,1},{122,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/5/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,59}</string>
                <key>spriteSize</key>
                <string>{232,178}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1749},{232,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/5/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-2}</string>
                <key>spriteSize</key>
                <string>{218,204}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{311,1063},{218,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/5/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,2}</string>
                <key>spriteSize</key>
                <string>{204,218}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{397,1749},{204,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/5/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-5}</string>
                <key>spriteSize</key>
                <string>{198,226}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{307,835},{198,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/5/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,-9}</string>
                <key>spriteSize</key>
                <string>{194,218}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{507,835},{194,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/5/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,0}</string>
                <key>spriteSize</key>
                <string>{188,178}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{603,1745},{188,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/5/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,33}</string>
                <key>spriteSize</key>
                <string>{172,148}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1015,1493},{172,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/5/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,51}</string>
                <key>spriteSize</key>
                <string>{136,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{341,1611},{136,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/5/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,55}</string>
                <key>spriteSize</key>
                <string>{130,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{955,1917},{130,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/5/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,49}</string>
                <key>spriteSize</key>
                <string>{178,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{783,1739},{178,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/5/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,46}</string>
                <key>spriteSize</key>
                <string>{178,154}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{869,1137},{178,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/5/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,39}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{845,1439},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/5/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,43}</string>
                <key>spriteSize</key>
                <string>{154,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{889,737},{154,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/5/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,57}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1055,165},{144,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/5/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,59}</string>
                <key>spriteSize</key>
                <string>{144,154}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1017,571},{144,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/5/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,53}</string>
                <key>spriteSize</key>
                <string>{144,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{687,1459},{144,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/5/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,48}</string>
                <key>spriteSize</key>
                <string>{146,152}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1033,361},{146,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/5/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,47}</string>
                <key>spriteSize</key>
                <string>{168,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1363,1657},{168,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/5/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,50}</string>
                <key>spriteSize</key>
                <string>{174,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1025,1137},{174,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/5/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,49}</string>
                <key>spriteSize</key>
                <string>{178,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{941,1737},{178,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/5/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,55}</string>
                <key>spriteSize</key>
                <string>{130,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1099,1667},{130,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/5/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,57}</string>
                <key>spriteSize</key>
                <string>{178,176}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{859,957},{178,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/5/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,61}</string>
                <key>spriteSize</key>
                <string>{194,184}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{703,761},{194,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/5/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,59}</string>
                <key>spriteSize</key>
                <string>{258,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1489},{258,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/5/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,87}</string>
                <key>spriteSize</key>
                <string>{164,200}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{693,1055},{164,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/5/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,106}</string>
                <key>spriteSize</key>
                <string>{218,214}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{181,1749},{218,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/5/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,76}</string>
                <key>spriteSize</key>
                <string>{200,174}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{517,1055},{200,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/5/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,121}</string>
                <key>spriteSize</key>
                <string>{266,232}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{305,567},{266,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/5/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,119}</string>
                <key>spriteSize</key>
                <string>{142,264}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{435,277},{142,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/5/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,132}</string>
                <key>spriteSize</key>
                <string>{188,274}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{401,1},{188,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/5/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,92}</string>
                <key>spriteSize</key>
                <string>{168,216}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{539,543},{168,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/5/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,12}</string>
                <key>spriteSize</key>
                <string>{200,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{527,1257},{200,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/5/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,12}</string>
                <key>spriteSize</key>
                <string>{194,158}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{769,1},{194,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/5/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,21}</string>
                <key>spriteSize</key>
                <string>{194,174}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{709,493},{194,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/5/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,18}</string>
                <key>spriteSize</key>
                <string>{204,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{357,1283},{204,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/5/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,29}</string>
                <key>spriteSize</key>
                <string>{214,146}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{579,277},{214,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/5/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,50}</string>
                <key>spriteSize</key>
                <string>{166,146}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{885,403},{166,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/5/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,56}</string>
                <key>spriteSize</key>
                <string>{152,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{901,197},{152,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/5/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,55}</string>
                <key>spriteSize</key>
                <string>{130,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1165,1493},{130,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/5/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,55}</string>
                <key>spriteSize</key>
                <string>{130,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1175,1313},{130,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/5/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,55}</string>
                <key>spriteSize</key>
                <string>{128,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{783,1919},{128,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/stand/body/5/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,55}</string>
                <key>spriteSize</key>
                <string>{130,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1127,1839},{130,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/5/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,54}</string>
                <key>spriteSize</key>
                <string>{130,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1391,1827},{130,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/5/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,53}</string>
                <key>spriteSize</key>
                <string>{132,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{675,1605},{132,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/stand/body/5/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,54}</string>
                <key>spriteSize</key>
                <string>{132,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{505,1611},{132,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/stand/body/5/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,55}</string>
                <key>spriteSize</key>
                <string>{130,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1231,1665},{130,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/5/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,55}</string>
                <key>spriteSize</key>
                <string>{130,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1297,1485},{130,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/5/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,52}</string>
                <key>spriteSize</key>
                <string>{130,164}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{885,571},{130,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/5/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,50}</string>
                <key>spriteSize</key>
                <string>{120,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{357,1489},{120,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/5/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,51}</string>
                <key>spriteSize</key>
                <string>{128,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{929,1},{128,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/5/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,44}</string>
                <key>spriteSize</key>
                <string>{108,148}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{603,1935},{108,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/5/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,57}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1013,1317},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/5/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,67}</string>
                <key>spriteSize</key>
                <string>{172,194}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{727,207},{172,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/5/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,110}</string>
                <key>spriteSize</key>
                <string>{162,280}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{141,599},{162,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/5/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,107}</string>
                <key>spriteSize</key>
                <string>{160,274}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1213},{160,274}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/5/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,106}</string>
                <key>spriteSize</key>
                <string>{158,272}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{147,881},{158,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/5/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,116}</string>
                <key>spriteSize</key>
                <string>{148,292}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{141,305},{148,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/5/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,121}</string>
                <key>spriteSize</key>
                <string>{140,302}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{140,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/5/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,121}</string>
                <key>spriteSize</key>
                <string>{138,302}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,305},{138,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/5/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,121}</string>
                <key>spriteSize</key>
                <string>{138,302}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,609},{138,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/5/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,119}</string>
                <key>spriteSize</key>
                <string>{144,298}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,913},{144,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/5/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,80}</string>
                <key>spriteSize</key>
                <string>{182,220}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{173,1389},{182,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/5/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,58}</string>
                <key>spriteSize</key>
                <string>{204,176}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{591,1},{204,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/5/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,56}</string>
                <key>spriteSize</key>
                <string>{180,172}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{695,1257},{180,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/5/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,53}</string>
                <key>spriteSize</key>
                <string>{136,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{173,1611},{136,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/5/10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,53}</string>
                <key>spriteSize</key>
                <string>{114,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{519,1489},{114,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/5/10021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,55}</string>
                <key>spriteSize</key>
                <string>{130,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1259,1837},{130,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MoHead-5.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d618e4706a2c1742f16a5757f6a2e62:e29e9634eb9e911734145c180d937628:abec4a0b21048a9a8f452dcdb1d2b002$</string>
            <key>textureFileName</key>
            <string>MoHead-5.pvr.ccz</string>
        </dict>
    </dict>
</plist>
