<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MoHead/attack/body/4/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,55}</string>
                <key>spriteSize</key>
                <string>{164,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{651,173},{164,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/4/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,85}</string>
                <key>spriteSize</key>
                <string>{182,226}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{475,1075},{182,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/4/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,107}</string>
                <key>spriteSize</key>
                <string>{170,270}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{479,1},{170,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/4/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,111}</string>
                <key>spriteSize</key>
                <string>{156,278}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1199},{156,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/4/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,113}</string>
                <key>spriteSize</key>
                <string>{122,282}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{269,285},{122,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/4/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,68}</string>
                <key>spriteSize</key>
                <string>{238,194}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{337,1417},{238,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/4/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,6}</string>
                <key>spriteSize</key>
                <string>{262,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{149,1747},{262,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/4/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-53,13}</string>
                <key>spriteSize</key>
                <string>{248,178}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{157,1479},{248,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/4/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,6}</string>
                <key>spriteSize</key>
                <string>{246,188}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{159,1169},{246,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/4/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,2}</string>
                <key>spriteSize</key>
                <string>{240,180}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{311,1729},{240,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/4/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-51,11}</string>
                <key>spriteSize</key>
                <string>{210,150}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{491,557},{210,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/4/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,42}</string>
                <key>spriteSize</key>
                <string>{158,142}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{821,339},{158,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/4/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,52}</string>
                <key>spriteSize</key>
                <string>{116,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1193,1927},{116,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/4/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,55}</string>
                <key>spriteSize</key>
                <string>{164,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{791,485},{164,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/4/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,54}</string>
                <key>spriteSize</key>
                <string>{200,152}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{533,1417},{200,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/4/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,51}</string>
                <key>spriteSize</key>
                <string>{194,152}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{687,1411},{194,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/4/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-35,49}</string>
                <key>spriteSize</key>
                <string>{172,146}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{643,693},{172,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/4/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,53}</string>
                <key>spriteSize</key>
                <string>{156,142}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{981,339},{156,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/4/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,65}</string>
                <key>spriteSize</key>
                <string>{172,144}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{959,1603},{172,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/4/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,66}</string>
                <key>spriteSize</key>
                <string>{172,150}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{871,1803},{172,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/4/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,60}</string>
                <key>spriteSize</key>
                <string>{164,154}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1113,1},{164,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/4/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,60}</string>
                <key>spriteSize</key>
                <string>{150,140}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1083,483},{150,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/4/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,59}</string>
                <key>spriteSize</key>
                <string>{168,142}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{817,1},{168,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/4/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,58}</string>
                <key>spriteSize</key>
                <string>{190,150}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{841,1411},{190,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/4/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,54}</string>
                <key>spriteSize</key>
                <string>{200,152}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{821,1047},{200,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/4/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,55}</string>
                <key>spriteSize</key>
                <string>{164,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{817,655},{164,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/4/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,61}</string>
                <key>spriteSize</key>
                <string>{184,180}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{493,1859},{184,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/4/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,63}</string>
                <key>spriteSize</key>
                <string>{194,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{675,1859},{194,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/4/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,59}</string>
                <key>spriteSize</key>
                <string>{280,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{309,1},{280,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/4/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,77}</string>
                <key>spriteSize</key>
                <string>{218,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{485,843},{218,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/4/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,109}</string>
                <key>spriteSize</key>
                <string>{124,228}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{349,1075},{124,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/4/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,76}</string>
                <key>spriteSize</key>
                <string>{282,172}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{135,1},{282,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/4/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,107}</string>
                <key>spriteSize</key>
                <string>{272,204}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{285,569},{272,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/4/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,123}</string>
                <key>spriteSize</key>
                <string>{122,272}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{393,283},{122,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/4/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,134}</string>
                <key>spriteSize</key>
                <string>{156,286}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{127,601},{156,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/4/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,88}</string>
                <key>spriteSize</key>
                <string>{160,212}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{659,1063},{160,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/4/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,31}</string>
                <key>spriteSize</key>
                <string>{206,146}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{643,485},{206,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/4/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,24}</string>
                <key>spriteSize</key>
                <string>{200,130}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{685,1619},{200,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/4/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,27}</string>
                <key>spriteSize</key>
                <string>{198,132}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{679,1277},{198,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/4/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,27}</string>
                <key>spriteSize</key>
                <string>{210,132}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{517,273},{210,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/4/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,42}</string>
                <key>spriteSize</key>
                <string>{194,140}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{817,1607},{194,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/4/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,50}</string>
                <key>spriteSize</key>
                <string>{146,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{983,651},{146,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/4/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,56}</string>
                <key>spriteSize</key>
                <string>{112,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{515,1303},{112,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/4/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,55}</string>
                <key>spriteSize</key>
                <string>{164,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{841,825},{164,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/4/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,55}</string>
                <key>spriteSize</key>
                <string>{164,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{975,995},{164,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/4/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,56}</string>
                <key>spriteSize</key>
                <string>{164,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{651,1},{164,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/4/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,56}</string>
                <key>spriteSize</key>
                <string>{166,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1193,1755},{166,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/4/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,55}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{993,1411},{170,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/stand/body/4/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,55}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1023,1777},{170,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/stand/body/4/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,55}</string>
                <key>spriteSize</key>
                <string>{170,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1105,1583},{170,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/stand/body/4/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,55}</string>
                <key>spriteSize</key>
                <string>{164,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1043,1165},{164,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,55}</string>
                <key>spriteSize</key>
                <string>{164,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1163,1335},{164,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,54}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{817,171},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,52}</string>
                <key>spriteSize</key>
                <string>{160,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{879,1249},{160,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/4/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,53}</string>
                <key>spriteSize</key>
                <string>{164,164}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{985,169},{164,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,41}</string>
                <key>spriteSize</key>
                <string>{128,140}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1139,335},{128,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,54}</string>
                <key>spriteSize</key>
                <string>{150,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{961,1},{150,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,71}</string>
                <key>spriteSize</key>
                <string>{190,200}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{493,1657},{190,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,110}</string>
                <key>spriteSize</key>
                <string>{152,278}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{137,889},{152,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,104}</string>
                <key>spriteSize</key>
                <string>{154,266}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1479},{154,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,103}</string>
                <key>spriteSize</key>
                <string>{146,264}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1747},{146,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,114}</string>
                <key>spriteSize</key>
                <string>{138,286}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{129,301},{138,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,120}</string>
                <key>spriteSize</key>
                <string>{132,298}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,120}</string>
                <key>spriteSize</key>
                <string>{126,298}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,301},{126,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,120}</string>
                <key>spriteSize</key>
                <string>{124,298}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,601},{124,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,119}</string>
                <key>spriteSize</key>
                <string>{134,296}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,901},{134,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,86}</string>
                <key>spriteSize</key>
                <string>{192,230}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{291,843},{192,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,56}</string>
                <key>spriteSize</key>
                <string>{204,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{669,841},{204,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/4/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,55}</string>
                <key>spriteSize</key>
                <string>{140,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{651,343},{140,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/4/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,53}</string>
                <key>spriteSize</key>
                <string>{104,164}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{349,1305},{104,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/4/10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,54}</string>
                <key>spriteSize</key>
                <string>{124,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{957,483},{124,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/4/10021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,55}</string>
                <key>spriteSize</key>
                <string>{164,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1275,1505},{164,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MoHead-4.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f24ff8bd0c70d551d4cbe2c52d8d10a8:b884fd75b979857744c370a57acf0636:9ff5e7ca34ee37cc5b71c2ed8b8aa234$</string>
            <key>textureFileName</key>
            <string>MoHead-4.pvr.ccz</string>
        </dict>
    </dict>
</plist>
