<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MoHead/attack/body/2/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,67}</string>
                <key>spriteSize</key>
                <string>{190,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,929},{190,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/2/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,69}</string>
                <key>spriteSize</key>
                <string>{230,164}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{267,519},{230,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/2/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,89}</string>
                <key>spriteSize</key>
                <string>{204,198}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1409,185},{204,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/2/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,104}</string>
                <key>spriteSize</key>
                <string>{156,226}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,535},{156,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/2/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,100}</string>
                <key>spriteSize</key>
                <string>{174,226}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{499,575},{174,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/2/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,92}</string>
                <key>spriteSize</key>
                <string>{152,240}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{867,289},{152,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/2/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-58,50}</string>
                <key>spriteSize</key>
                <string>{210,126}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1671,1},{210,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/2/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,50}</string>
                <key>spriteSize</key>
                <string>{216,126}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{739,431},{216,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/2/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,45}</string>
                <key>spriteSize</key>
                <string>{222,116}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,693},{222,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/2/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,45}</string>
                <key>spriteSize</key>
                <string>{220,116}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,811},{220,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/2/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,52}</string>
                <key>spriteSize</key>
                <string>{186,130}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1091},{186,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/2/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,63}</string>
                <key>spriteSize</key>
                <string>{138,152}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{161,1325},{138,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/2/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,66}</string>
                <key>spriteSize</key>
                <string>{164,158}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1883,1},{164,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/2/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,67}</string>
                <key>spriteSize</key>
                <string>{190,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1507,431},{190,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/2/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,72}</string>
                <key>spriteSize</key>
                <string>{150,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1429,729},{150,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/2/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,70}</string>
                <key>spriteSize</key>
                <string>{158,146}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{189,1177},{158,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/2/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,63}</string>
                <key>spriteSize</key>
                <string>{136,146}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1165,1013},{136,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/2/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,61}</string>
                <key>spriteSize</key>
                <string>{130,158}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1223},{130,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/2/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,63}</string>
                <key>spriteSize</key>
                <string>{138,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{727,649},{138,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/2/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,66}</string>
                <key>spriteSize</key>
                <string>{140,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{385,1075},{140,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/2/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,70}</string>
                <key>spriteSize</key>
                <string>{132,154}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{777,1089},{132,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/2/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,71}</string>
                <key>spriteSize</key>
                <string>{124,146}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{933,1091},{124,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/2/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,67}</string>
                <key>spriteSize</key>
                <string>{130,158}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1637,627},{130,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/2/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,74}</string>
                <key>spriteSize</key>
                <string>{144,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1007,945},{144,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/2/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,72}</string>
                <key>spriteSize</key>
                <string>{150,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1233,861},{150,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/2/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,67}</string>
                <key>spriteSize</key>
                <string>{190,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1263,547},{190,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/2/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,66}</string>
                <key>spriteSize</key>
                <string>{170,158}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1885,463},{170,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/2/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,48}</string>
                <key>spriteSize</key>
                <string>{162,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1879,161},{162,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/2/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,17}</string>
                <key>spriteSize</key>
                <string>{170,222}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{229,685},{170,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/2/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,74}</string>
                <key>spriteSize</key>
                <string>{300,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/2/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,89}</string>
                <key>spriteSize</key>
                <string>{236,208}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{267,309},{236,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/2/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,111}</string>
                <key>spriteSize</key>
                <string>{264,226}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,307},{264,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/2/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,80}</string>
                <key>spriteSize</key>
                <string>{134,180}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1455,593},{134,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/2/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,121}</string>
                <key>spriteSize</key>
                <string>{182,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1413,1},{182,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/2/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,129}</string>
                <key>spriteSize</key>
                <string>{156,286}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{303,1},{156,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/2/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,88}</string>
                <key>spriteSize</key>
                <string>{156,192}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{223,857},{156,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/2/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,52}</string>
                <key>spriteSize</key>
                <string>{144,146}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1391,881},{144,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/2/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,51}</string>
                <key>spriteSize</key>
                <string>{152,144}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{553,1127},{152,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/2/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,51}</string>
                <key>spriteSize</key>
                <string>{166,144}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{609,981},{166,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/2/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,51}</string>
                <key>spriteSize</key>
                <string>{148,144}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1797,757},{148,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/2/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,55}</string>
                <key>spriteSize</key>
                <string>{144,152}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{349,1217},{144,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/2/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,55}</string>
                <key>spriteSize</key>
                <string>{138,152}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1355},{138,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/2/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,66}</string>
                <key>spriteSize</key>
                <string>{174,150}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1253,709},{174,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/2/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,67}</string>
                <key>spriteSize</key>
                <string>{190,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1061,625},{190,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/2/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,67}</string>
                <key>spriteSize</key>
                <string>{190,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{867,771},{190,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/2/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,67}</string>
                <key>spriteSize</key>
                <string>{196,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1309,385},{196,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/2/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,68}</string>
                <key>spriteSize</key>
                <string>{198,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1109,299},{198,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/2/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,68}</string>
                <key>spriteSize</key>
                <string>{196,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{867,443},{196,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/2/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,67}</string>
                <key>spriteSize</key>
                <string>{196,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1065,463},{196,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/2/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,67}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{453,751},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/2/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,67}</string>
                <key>spriteSize</key>
                <string>{190,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{647,819},{190,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/2/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,67}</string>
                <key>spriteSize</key>
                <string>{190,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{417,913},{190,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/2/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,53}</string>
                <key>spriteSize</key>
                <string>{184,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1699,463},{184,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/2/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{50,44}</string>
                <key>spriteSize</key>
                <string>{192,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{867,607},{192,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/2/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{54,46}</string>
                <key>spriteSize</key>
                <string>{200,158}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1615,271},{200,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/2/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,53}</string>
                <key>spriteSize</key>
                <string>{200,136}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1817,325},{200,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/2/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,55}</string>
                <key>spriteSize</key>
                <string>{120,148}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1587,759},{120,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/2/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,79}</string>
                <key>spriteSize</key>
                <string>{142,232}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{505,431},{142,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/2/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,93}</string>
                <key>spriteSize</key>
                <string>{134,270}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,171},{134,270}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/2/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,82}</string>
                <key>spriteSize</key>
                <string>{138,246}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{867,149},{138,246}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/2/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,83}</string>
                <key>spriteSize</key>
                <string>{138,240}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{577,291},{138,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/2/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,91}</string>
                <key>spriteSize</key>
                <string>{144,260}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1151,1},{144,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/2/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,96}</string>
                <key>spriteSize</key>
                <string>{146,274}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{875,1},{146,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/2/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,97}</string>
                <key>spriteSize</key>
                <string>{146,274}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{591,143},{146,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/2/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,97}</string>
                <key>spriteSize</key>
                <string>{148,272}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{303,159},{148,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/2/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,103}</string>
                <key>spriteSize</key>
                <string>{140,282}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{591,1},{140,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/2/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,93}</string>
                <key>spriteSize</key>
                <string>{150,256}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1151,147},{150,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/2/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,72}</string>
                <key>spriteSize</key>
                <string>{140,206}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1671,129},{140,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/2/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,61}</string>
                <key>spriteSize</key>
                <string>{120,150}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1797,635},{120,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/2/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,64}</string>
                <key>spriteSize</key>
                <string>{166,154}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{839,933},{166,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/2/10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,65}</string>
                <key>spriteSize</key>
                <string>{172,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1059,787},{172,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/2/10021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,67}</string>
                <key>spriteSize</key>
                <string>{190,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{193,1015},{190,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MoHead-2.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a4699329af707a16a210c2621ff9ec6:c29ad0ef6ad6bef72b2449d831123550:c521ed74092cfba2eeaf044d4fefae4f$</string>
            <key>textureFileName</key>
            <string>MoHead-2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
