<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MoHead/attack/body/3/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,61}</string>
                <key>spriteSize</key>
                <string>{178,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1013,629},{178,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/3/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,75}</string>
                <key>spriteSize</key>
                <string>{214,186}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1047,441},{214,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/3/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,92}</string>
                <key>spriteSize</key>
                <string>{204,218}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1661,233},{204,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/3/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,103}</string>
                <key>spriteSize</key>
                <string>{166,240}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{243,381},{166,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/3/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,101}</string>
                <key>spriteSize</key>
                <string>{174,240}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,347},{174,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/3/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,84}</string>
                <key>spriteSize</key>
                <string>{164,218}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1119,275},{164,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/3/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-57,31}</string>
                <key>spriteSize</key>
                <string>{242,100}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{283,279},{242,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/3/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-66,38}</string>
                <key>spriteSize</key>
                <string>{232,114}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1697,117},{232,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/3/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,38}</string>
                <key>spriteSize</key>
                <string>{236,114}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1697,1},{236,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/3/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-74,35}</string>
                <key>spriteSize</key>
                <string>{228,108}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1935,1},{228,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/3/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-55,41}</string>
                <key>spriteSize</key>
                <string>{196,120}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1771,567},{196,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/3/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,54}</string>
                <key>spriteSize</key>
                <string>{140,146}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{353,1165},{140,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/3/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,59}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1533,829},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/3/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,61}</string>
                <key>spriteSize</key>
                <string>{178,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{797,643},{178,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/3/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,68}</string>
                <key>spriteSize</key>
                <string>{176,146}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{729,805},{176,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/3/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,61}</string>
                <key>spriteSize</key>
                <string>{176,144}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{363,1019},{176,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/3/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,59}</string>
                <key>spriteSize</key>
                <string>{158,138}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1373,771},{158,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/3/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,59}</string>
                <key>spriteSize</key>
                <string>{148,140}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{541,1037},{148,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/3/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,66}</string>
                <key>spriteSize</key>
                <string>{154,146}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1815,973},{154,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/3/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,69}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1475,987},{154,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/3/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,69}</string>
                <key>spriteSize</key>
                <string>{144,138}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{177,1305},{144,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/3/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,67}</string>
                <key>spriteSize</key>
                <string>{138,138}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1309},{138,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/3/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,64}</string>
                <key>spriteSize</key>
                <string>{148,150}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1631,987},{148,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/3/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,70}</string>
                <key>spriteSize</key>
                <string>{168,144}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1823,827},{168,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/3/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,68}</string>
                <key>spriteSize</key>
                <string>{176,146}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{547,889},{176,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/3/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,61}</string>
                <key>spriteSize</key>
                <string>{178,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{549,727},{178,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/3/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,64}</string>
                <key>spriteSize</key>
                <string>{180,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1881,385},{180,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/3/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,61}</string>
                <key>spriteSize</key>
                <string>{174,154}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1153},{174,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/3/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{43,30}</string>
                <key>spriteSize</key>
                <string>{228,198}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1431,175},{228,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/3/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,71}</string>
                <key>spriteSize</key>
                <string>{286,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{879,1},{286,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/3/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,97}</string>
                <key>spriteSize</key>
                <string>{160,218}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{827,317},{160,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/3/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,95}</string>
                <key>spriteSize</key>
                <string>{296,200}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/3/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,83}</string>
                <key>spriteSize</key>
                <string>{210,172}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1559,439},{210,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/3/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,121}</string>
                <key>spriteSize</key>
                <string>{172,262}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1433,1},{172,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/3/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,130}</string>
                <key>spriteSize</key>
                <string>{124,288}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{589,1},{124,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/3/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,83}</string>
                <key>spriteSize</key>
                <string>{156,192}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1457,613},{156,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/3/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,45}</string>
                <key>spriteSize</key>
                <string>{174,142}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{177,1161},{174,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/3/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,42}</string>
                <key>spriteSize</key>
                <string>{170,136}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1823,689},{170,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/3/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,43}</string>
                <key>spriteSize</key>
                <string>{170,138}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1651,689},{170,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/3/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,42}</string>
                <key>spriteSize</key>
                <string>{176,136}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{181,1023},{176,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/3/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,49}</string>
                <key>spriteSize</key>
                <string>{138,150}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{725,953},{138,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/3/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,51}</string>
                <key>spriteSize</key>
                <string>{122,154}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1691,829},{122,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/3/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,59}</string>
                <key>spriteSize</key>
                <string>{148,150}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1783,1121},{148,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/3/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,61}</string>
                <key>spriteSize</key>
                <string>{178,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{367,857},{178,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/3/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,61}</string>
                <key>spriteSize</key>
                <string>{178,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{183,861},{178,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/3/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,62}</string>
                <key>spriteSize</key>
                <string>{180,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{185,697},{180,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/3/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,62}</string>
                <key>spriteSize</key>
                <string>{182,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,665},{182,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/3/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,62}</string>
                <key>spriteSize</key>
                <string>{182,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{429,561},{182,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/3/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,62}</string>
                <key>spriteSize</key>
                <string>{184,162}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{827,479},{184,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/3/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,61}</string>
                <key>spriteSize</key>
                <string>{180,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,829},{180,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/3/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,61}</string>
                <key>spriteSize</key>
                <string>{178,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,991},{178,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/3/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,61}</string>
                <key>spriteSize</key>
                <string>{178,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1193,691},{178,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/3/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,57}</string>
                <key>spriteSize</key>
                <string>{182,152}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{613,573},{182,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/3/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{47,54}</string>
                <key>spriteSize</key>
                <string>{184,146}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{243,549},{184,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/3/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{52,54}</string>
                <key>spriteSize</key>
                <string>{190,146}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{485,413},{190,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/3/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,46}</string>
                <key>spriteSize</key>
                <string>{180,130}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{367,725},{180,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/3/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,52}</string>
                <key>spriteSize</key>
                <string>{122,158}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1157,853},{122,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/3/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,76}</string>
                <key>spriteSize</key>
                <string>{152,218}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1339,375},{152,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/3/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,98}</string>
                <key>spriteSize</key>
                <string>{130,264}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1167,1},{130,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/3/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,90}</string>
                <key>spriteSize</key>
                <string>{140,244}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{581,271},{140,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/3/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,89}</string>
                <key>spriteSize</key>
                <string>{140,240}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,523},{140,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/3/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,97}</string>
                <key>spriteSize</key>
                <string>{140,262}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1167,133},{140,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/3/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,103}</string>
                <key>spriteSize</key>
                <string>{142,280}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{299,135},{142,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/3/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,103}</string>
                <key>spriteSize</key>
                <string>{142,282}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{589,127},{142,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/3/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,102}</string>
                <key>spriteSize</key>
                <string>{142,280}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,203},{142,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/3/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,107}</string>
                <key>spriteSize</key>
                <string>{132,288}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{299,1},{132,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/3/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,88}</string>
                <key>spriteSize</key>
                <string>{144,244}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{873,171},{144,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/3/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,66}</string>
                <key>spriteSize</key>
                <string>{160,192}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1263,529},{160,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/3/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,57}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1931,231},{100,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/3/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,59}</string>
                <key>spriteSize</key>
                <string>{132,156}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1317,911},{132,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/3/10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,60}</string>
                <key>spriteSize</key>
                <string>{148,158}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{677,413},{148,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/3/10021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,61}</string>
                <key>spriteSize</key>
                <string>{178,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{977,791},{178,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MoHead-3.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:daae128381811f94d25902325be7655b:9d5b96ee67fb05e9ffc2be6ee14b6c38:f8001d1210da400ab21cfd99b6b9a55c$</string>
            <key>textureFileName</key>
            <string>MoHead-3.pvr.ccz</string>
        </dict>
    </dict>
</plist>
