<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MoHead/attack/body/0/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,58}</string>
                <key>spriteSize</key>
                <string>{142,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1531,569},{142,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/0/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,58}</string>
                <key>spriteSize</key>
                <string>{140,176}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1897,989},{140,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/0/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,60}</string>
                <key>spriteSize</key>
                <string>{136,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1529,1001},{136,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/0/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,83}</string>
                <key>spriteSize</key>
                <string>{108,228}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1073,145},{108,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/0/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,77}</string>
                <key>spriteSize</key>
                <string>{140,214}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1535,1},{140,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/0/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,95}</string>
                <key>spriteSize</key>
                <string>{174,248}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{295,117},{174,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/0/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,67}</string>
                <key>spriteSize</key>
                <string>{120,186}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1409,459},{120,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/0/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,68}</string>
                <key>spriteSize</key>
                <string>{112,188}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1419,269},{112,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/0/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,65}</string>
                <key>spriteSize</key>
                <string>{98,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1309,427},{98,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/0/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,65}</string>
                <key>spriteSize</key>
                <string>{98,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1285,611},{98,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/attack/body/0/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,60}</string>
                <key>spriteSize</key>
                <string>{136,172}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1211,795},{136,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/0/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,62}</string>
                <key>spriteSize</key>
                <string>{158,180}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1709,1213},{158,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/0/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,61}</string>
                <key>spriteSize</key>
                <string>{170,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1027,781},{170,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/attack/body/0/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,58}</string>
                <key>spriteSize</key>
                <string>{142,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1715,643},{142,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/0/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,65}</string>
                <key>spriteSize</key>
                <string>{140,196}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{453,507},{140,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/0/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,66}</string>
                <key>spriteSize</key>
                <string>{144,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{791,841},{144,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/0/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,69}</string>
                <key>spriteSize</key>
                <string>{138,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1897,1167},{138,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/run/body/0/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,65}</string>
                <key>spriteSize</key>
                <string>{136,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1713,1075},{136,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/0/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,61}</string>
                <key>spriteSize</key>
                <string>{132,204}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1533,303},{132,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/0/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,62}</string>
                <key>spriteSize</key>
                <string>{130,204}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1533,437},{130,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/0/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,66}</string>
                <key>spriteSize</key>
                <string>{132,186}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{417,649},{132,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/0/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,70}</string>
                <key>spriteSize</key>
                <string>{136,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{975,953},{136,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/0/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,67}</string>
                <key>spriteSize</key>
                <string>{144,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1739,497},{144,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/0/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,67}</string>
                <key>spriteSize</key>
                <string>{142,194}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,713},{142,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/run/body/0/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,65}</string>
                <key>spriteSize</key>
                <string>{140,196}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{219,587},{140,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/0/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,58}</string>
                <key>spriteSize</key>
                <string>{142,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1531,713},{142,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/0/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,34}</string>
                <key>spriteSize</key>
                <string>{150,184}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{197,729},{150,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/0/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,28}</string>
                <key>spriteSize</key>
                <string>{184,148}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,857},{184,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/0/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,25}</string>
                <key>spriteSize</key>
                <string>{204,204}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1747,291},{204,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/0/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,56}</string>
                <key>spriteSize</key>
                <string>{128,214}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1751,1},{128,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/0/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,75}</string>
                <key>spriteSize</key>
                <string>{292,176}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/0/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,125}</string>
                <key>spriteSize</key>
                <string>{114,268}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{295,1},{114,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/0/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,80}</string>
                <key>spriteSize</key>
                <string>{222,196}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{779,151},{222,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/0/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,101}</string>
                <key>spriteSize</key>
                <string>{194,222}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{481,311},{194,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/0/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,113}</string>
                <key>spriteSize</key>
                <string>{214,244}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,179},{214,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/0/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,98}</string>
                <key>spriteSize</key>
                <string>{148,190}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{903,543},{148,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/skill/body/0/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,63}</string>
                <key>spriteSize</key>
                <string>{146,160}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1899,643},{146,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/0/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,56}</string>
                <key>spriteSize</key>
                <string>{144,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1385,647},{144,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/0/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,55}</string>
                <key>spriteSize</key>
                <string>{142,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1383,1003},{142,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/0/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,56}</string>
                <key>spriteSize</key>
                <string>{154,168}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1891,1337},{154,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/0/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,55}</string>
                <key>spriteSize</key>
                <string>{196,166}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{705,459},{196,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/0/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,57}</string>
                <key>spriteSize</key>
                <string>{188,172}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1095,607},{188,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/0/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,58}</string>
                <key>spriteSize</key>
                <string>{180,176}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1527,1139},{180,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/skill/body/0/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,58}</string>
                <key>spriteSize</key>
                <string>{142,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1385,819},{142,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/stand/body/0/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,58}</string>
                <key>spriteSize</key>
                <string>{142,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1715,787},{142,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/stand/body/0/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,58}</string>
                <key>spriteSize</key>
                <string>{144,184}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{383,783},{144,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/stand/body/0/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,59}</string>
                <key>spriteSize</key>
                <string>{146,184}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{841,693},{146,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/stand/body/0/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,59}</string>
                <key>spriteSize</key>
                <string>{146,184}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{605,781},{146,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/stand/body/0/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,58}</string>
                <key>spriteSize</key>
                <string>{142,184}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{187,881},{142,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/stand/body/0/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,57}</string>
                <key>spriteSize</key>
                <string>{142,184}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,1007},{142,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/stand/body/0/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,58}</string>
                <key>spriteSize</key>
                <string>{142,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1529,857},{142,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,58}</string>
                <key>spriteSize</key>
                <string>{142,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1899,805},{142,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/0/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,19}</string>
                <key>spriteSize</key>
                <string>{120,208}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1303,147},{120,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,6}</string>
                <key>spriteSize</key>
                <string>{108,208}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1003,255},{108,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,6}</string>
                <key>spriteSize</key>
                <string>{108,208}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{705,349},{108,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,45}</string>
                <key>spriteSize</key>
                <string>{158,210}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1535,143},{158,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,59}</string>
                <key>spriteSize</key>
                <string>{156,170}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1211,933},{156,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,90}</string>
                <key>spriteSize</key>
                <string>{160,232}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{545,149},{160,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,88}</string>
                <key>spriteSize</key>
                <string>{158,230}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,395},{158,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,80}</string>
                <key>spriteSize</key>
                <string>{156,216}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1,555},{156,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,77}</string>
                <key>spriteSize</key>
                <string>{158,212}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1751,131},{158,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,80}</string>
                <key>spriteSize</key>
                <string>{150,218}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{233,435},{150,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,87}</string>
                <key>spriteSize</key>
                <string>{140,232}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{247,293},{140,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,86}</string>
                <key>spriteSize</key>
                <string>{142,230}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1073,1},{142,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,85}</string>
                <key>spriteSize</key>
                <string>{144,228}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1305,1},{144,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,90}</string>
                <key>spriteSize</key>
                <string>{148,238}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{833,1},{148,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,104}</string>
                <key>spriteSize</key>
                <string>{146,266}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{565,1},{146,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,72}</string>
                <key>spriteSize</key>
                <string>{156,204}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1213,269},{156,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,58}</string>
                <key>spriteSize</key>
                <string>{200,176}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{915,365},{200,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MoHead/win/body/0/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,50}</string>
                <key>spriteSize</key>
                <string>{178,190}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1117,427},{178,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,53}</string>
                <key>spriteSize</key>
                <string>{152,188}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{651,627},{152,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MoHead/win/body/0/10021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,58}</string>
                <key>spriteSize</key>
                <string>{142,182}</string>
                <key>spriteSourceSize</key>
                <string>{1024,1024}</string>
                <key>textureRect</key>
                <string>{{1713,931},{142,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MoHead-0.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ceade4602632c0804997cc74bf157d0:66c45f032758850bcb56d79a13a42200:652cfeec0af41ef73a6dbcdac1463d93$</string>
            <key>textureFileName</key>
            <string>MoHead-0.pvr.ccz</string>
        </dict>
    </dict>
</plist>
