<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tower/body/Blue/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{132,158}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{831,1},{132,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tower/body/Blue/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{132,158}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{831,135},{132,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tower/body/Blue/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{132,158}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{1,269},{132,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/body/Blue/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{132,158}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{1,429},{132,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/body/Blue/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{132,158}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{1,589},{132,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/body/Red/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{132,158}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{1,749},{132,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/body/Red/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{132,158}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{135,155},{132,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tower/body/Red/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{132,158}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{295,155},{132,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tower/body/Red/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{132,158}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{455,155},{132,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tower/body/Red/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,20}</string>
                <key>spriteSize</key>
                <string>{132,158}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{615,155},{132,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tower/shadows/0/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-23}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{775,269},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/shadows/0/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-23}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{135,423},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/shadows/0/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-23}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{135,577},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/shadows/0/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-23}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{135,731},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/shadows/0/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,-23}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{289,289},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/shadows/1/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-23}</string>
                <key>spriteSize</key>
                <string>{164,152}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/shadows/1/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-23}</string>
                <key>spriteSize</key>
                <string>{164,152}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{167,1},{164,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/shadows/1/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-23}</string>
                <key>spriteSize</key>
                <string>{164,152}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{333,1},{164,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/shadows/1/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-23}</string>
                <key>spriteSize</key>
                <string>{164,152}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{499,1},{164,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/shadows/1/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-23}</string>
                <key>spriteSize</key>
                <string>{164,152}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{665,1},{164,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Tower.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af5306fa332e34fdbdbf6a85c63edc20:1967e66f6a47c01b898e06c06dcfc36f:1ff183d161adecc5aa49961000c669f6$</string>
            <key>textureFileName</key>
            <string>Tower.pvr.ccz</string>
        </dict>
    </dict>
</plist>
