<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tower/stand/body/Blue/0/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{138,202}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/stand/body/Blue/0/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{138,202}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{1,205},{138,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/stand/body/Blue/0/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{138,202}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{1,409},{138,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/stand/body/Blue/0/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{138,202}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{1,613},{138,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/stand/body/Blue/0/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{138,202}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{1,817},{138,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/stand/body/Blue/0/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{138,202}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{141,1},{138,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tower/stand/body/Red/0/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{138,202}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{345,1},{138,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tower/stand/body/Red/0/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{138,202}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{549,1},{138,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tower/stand/body/Red/0/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{138,202}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{753,1},{138,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tower/stand/body/Red/0/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{138,202}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{141,141},{138,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/stand/body/Red/0/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{138,202}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{141,345},{138,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/stand/body/Red/0/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{138,202}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{141,549},{138,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Tower/stand/shadows/0/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-31}</string>
                <key>spriteSize</key>
                <string>{158,114}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{141,753},{158,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tower/stand/shadows/0/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-31}</string>
                <key>spriteSize</key>
                <string>{158,114}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{257,753},{158,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tower/stand/shadows/0/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-31}</string>
                <key>spriteSize</key>
                <string>{158,114}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{281,141},{158,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tower/stand/shadows/0/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-31}</string>
                <key>spriteSize</key>
                <string>{158,114}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{281,301},{158,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tower/stand/shadows/0/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-31}</string>
                <key>spriteSize</key>
                <string>{158,114}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{281,461},{158,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Tower/stand/shadows/0/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-31}</string>
                <key>spriteSize</key>
                <string>{158,114}</string>
                <key>spriteSourceSize</key>
                <string>{1136,640}</string>
                <key>textureRect</key>
                <string>{{141,753},{158,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Tower.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d52e18e8748d38c4dd989968cdd2d882:a867ab4c82f55d0991f94427d1e89659:1ff183d161adecc5aa49961000c669f6$</string>
            <key>textureFileName</key>
            <string>Tower.pvr.ccz</string>
        </dict>
    </dict>
</plist>
