<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect-Silent-Icon/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{343,1517},{62,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{229,1},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{457,1},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{685,1},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{913,1},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1141,1},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1369,1},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1597,1},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,163},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{229,163},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{457,163},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{685,163},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{913,163},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1141,163},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1369,163},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1597,163},{226,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-Silent-circle/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,345},{226,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-Silent-circle/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,573},{226,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-Silent-circle/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,801},{226,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-Silent-circle/10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{226,160}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1029},{226,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-dead/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{243,1969},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-dead/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{343,1371},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-dead/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{695,1655},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-dead/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,11}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{315,1969},{68,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-dead/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,9}</string>
                <key>spriteSize</key>
                <string>{74,78}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{83,1969},{74,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-dead/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,3}</string>
                <key>spriteSize</key>
                <string>{80,78}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1969},{80,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-dead/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{84,86}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{803,1881},{84,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-dead/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,4}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{489,1491},{82,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-dead/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,1}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{159,1969},{70,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-dead/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,34}</string>
                <key>spriteSize</key>
                <string>{10,8}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{2003,105},{10,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-imprisonment/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{92,64}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{737,1901},{92,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-imprisonment/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,8}</string>
                <key>spriteSize</key>
                <string>{94,66}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{503,1573},{94,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-imprisonment/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{94,66}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{503,1669},{94,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-imprisonment/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{94,66}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{571,1573},{94,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-imprisonment/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{94,66}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{599,1669},{94,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-imprisonment/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{94,66}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{573,1491},{94,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-imprisonment/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{94,66}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{639,1559},{94,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-imprisonment/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{94,66}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{649,1737},{94,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-imprisonment/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{94,64}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{717,1723},{94,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-imprisonment/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{94,66}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{571,1573},{94,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-imprisonment/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{92,66}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{649,1833},{92,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-imprisonment/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{94,64}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{671,1901},{94,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-poison/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{170,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{163,345},{170,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{168,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{163,1049},{168,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{168,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{173,1225},{168,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,14}</string>
                <key>spriteSize</key>
                <string>{168,176}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1613},{168,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{168,172}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{333,1049},{168,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{168,170}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{173,1401},{168,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{170,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{163,521},{170,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{170,176}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1825,1},{170,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-poison/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{170,176}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1825,173},{170,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-poison/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,11}</string>
                <key>spriteSize</key>
                <string>{170,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{163,697},{170,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{168,176}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1791},{168,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,13}</string>
                <key>spriteSize</key>
                <string>{168,176}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{171,1613},{168,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,12}</string>
                <key>spriteSize</key>
                <string>{170,174}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{163,873},{170,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{170,176}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1257},{170,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,12}</string>
                <key>spriteSize</key>
                <string>{170,176}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,1435},{170,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{168,176}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{171,1791},{168,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{160,170}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{341,1573},{160,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,24}</string>
                <key>spriteSize</key>
                <string>{154,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{341,1745},{154,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,25}</string>
                <key>spriteSize</key>
                <string>{150,154}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{497,1745},{150,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,32}</string>
                <key>spriteSize</key>
                <string>{146,144}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{525,1901},{146,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect-poison/10021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,29}</string>
                <key>spriteSize</key>
                <string>{138,142}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{385,1905},{138,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,29}</string>
                <key>spriteSize</key>
                <string>{116,146}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{343,1223},{116,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,32}</string>
                <key>spriteSize</key>
                <string>{114,140}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{461,1223},{114,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect-poison/10024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,38}</string>
                <key>spriteSize</key>
                <string>{100,124}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{489,1365},{100,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion point-1/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{743,1819},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion point-1/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{40,48}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{2003,55},{40,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion point-1/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{40,52}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{2003,1},{40,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect-1.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dde9dffd8d4800d06e46a5899eb5cb17:dc58d89e35ce23c84e87e1a1d559ad2d:afd6217cfbc5b8a112b09725d7a879dd$</string>
            <key>textureFileName</key>
            <string>effect-1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
