<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jian-all/jian-yingzi/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-11}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{137,83},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-11}</string>
                <key>spriteSize</key>
                <string>{40,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{179,89},{40,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-11}</string>
                <key>spriteSize</key>
                <string>{42,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{185,69},{42,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-11}</string>
                <key>spriteSize</key>
                <string>{42,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{137,73},{42,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-11}</string>
                <key>spriteSize</key>
                <string>{42,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{181,79},{42,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-10}</string>
                <key>spriteSize</key>
                <string>{42,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{225,79},{42,8}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jian-all/jian-yingzi/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-10}</string>
                <key>spriteSize</key>
                <string>{44,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{47,49},{44,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-10}</string>
                <key>spriteSize</key>
                <string>{44,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,51},{44,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-11}</string>
                <key>spriteSize</key>
                <string>{44,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{139,43},{44,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-11}</string>
                <key>spriteSize</key>
                <string>{44,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{185,49},{44,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-11}</string>
                <key>spriteSize</key>
                <string>{44,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{139,53},{44,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-11}</string>
                <key>spriteSize</key>
                <string>{44,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{93,57},{44,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-11}</string>
                <key>spriteSize</key>
                <string>{46,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{193,13},{46,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-11}</string>
                <key>spriteSize</key>
                <string>{46,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{193,23},{46,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-11}</string>
                <key>spriteSize</key>
                <string>{46,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,15},{46,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-11}</string>
                <key>spriteSize</key>
                <string>{46,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{49,15},{46,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-11}</string>
                <key>spriteSize</key>
                <string>{44,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{47,59},{44,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-11}</string>
                <key>spriteSize</key>
                <string>{44,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,61},{44,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-10}</string>
                <key>spriteSize</key>
                <string>{44,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{185,59},{44,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian-yingzi/10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-10}</string>
                <key>spriteSize</key>
                <string>{44,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{139,63},{44,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,29}</string>
                <key>spriteSize</key>
                <string>{42,18}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{235,47},{42,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jian-all/jian/10002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,29}</string>
                <key>spriteSize</key>
                <string>{42,18}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{93,67},{42,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,29}</string>
                <key>spriteSize</key>
                <string>{42,16}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{47,69},{42,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,29}</string>
                <key>spriteSize</key>
                <string>{44,16}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{97,25},{44,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,29}</string>
                <key>spriteSize</key>
                <string>{44,16}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{143,25},{44,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,29}</string>
                <key>spriteSize</key>
                <string>{44,14}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{241,1},{44,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jian-all/jian/10007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,29}</string>
                <key>spriteSize</key>
                <string>{44,14}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{189,33},{44,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,29}</string>
                <key>spriteSize</key>
                <string>{44,12}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{47,35},{44,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,29}</string>
                <key>spriteSize</key>
                <string>{46,12}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{46,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,29}</string>
                <key>spriteSize</key>
                <string>{46,12}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{49,1},{46,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,29}</string>
                <key>spriteSize</key>
                <string>{44,12}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{93,43},{44,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,29}</string>
                <key>spriteSize</key>
                <string>{46,10}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{145,1},{46,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,29}</string>
                <key>spriteSize</key>
                <string>{46,10}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{193,1},{46,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,29}</string>
                <key>spriteSize</key>
                <string>{46,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{97,15},{46,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,29}</string>
                <key>spriteSize</key>
                <string>{46,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,25},{46,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,29}</string>
                <key>spriteSize</key>
                <string>{46,8}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{49,25},{46,8}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,30}</string>
                <key>spriteSize</key>
                <string>{46,10}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{145,13},{46,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,30}</string>
                <key>spriteSize</key>
                <string>{46,12}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{97,1},{46,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,30}</string>
                <key>spriteSize</key>
                <string>{44,14}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,35},{44,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jian-all/jian/10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,30}</string>
                <key>spriteSize</key>
                <string>{42,16}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,71},{42,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jian.pvr.ccz</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:353cc85e733827c0f2400199245c4a98:652a7bace5e00699e4e8002d62f950b7:547849ca510baf65b82de35cff041cdc$</string>
            <key>textureFileName</key>
            <string>jian.pvr.ccz</string>
        </dict>
    </dict>
</plist>
