<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{90,88}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,905},{90,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{491,457},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{196,198}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{695,355},{196,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{695,153},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,12}</string>
                <key>spriteSize</key>
                <string>{156,166}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{845,553},{156,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,10}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{669,553},{160,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{491,635},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{184,182}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{305,457},{184,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingjian_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{150,388}</string>
                <key>spriteSourceSize</key>
                <string>{150,450}</string>
                <key>textureRect</key>
                <string>{{153,1},{150,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingjian_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,450}</string>
                <key>spriteSourceSize</key>
                <string>{150,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingjian_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{150,388}</string>
                <key>spriteSourceSize</key>
                <string>{150,450}</string>
                <key>textureRect</key>
                <string>{{543,1},{150,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingjian_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{150,388}</string>
                <key>spriteSourceSize</key>
                <string>{150,450}</string>
                <key>textureRect</key>
                <string>{{153,153},{150,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingjian_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,450}</string>
                <key>spriteSourceSize</key>
                <string>{150,450}</string>
                <key>textureRect</key>
                <string>{{1,453},{150,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingjian_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{150,388}</string>
                <key>spriteSourceSize</key>
                <string>{150,450}</string>
                <key>textureRect</key>
                <string>{{153,543},{150,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bingjian_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{150,388}</string>
                <key>spriteSourceSize</key>
                <string>{150,450}</string>
                <key>textureRect</key>
                <string>{{305,153},{150,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bingjian_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{150,388}</string>
                <key>spriteSourceSize</key>
                <string>{150,450}</string>
                <key>textureRect</key>
                <string>{{305,305},{150,388}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>soldier-Archer-effect.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:261fcd2c99bffa17e4bcc9210e7e2bc8:6b7128e04af3d1fe4e814ca9920eb918:722b717e9248c397d0dfb210d2360a79$</string>
            <key>textureFileName</key>
            <string>soldier-Archer-effect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
